.encabezado{
    font-size: 20px;
    border-bottom: 2px solid black;
}
.btn-filtro{
    background-color: aqua  !important;
}

#footer{
    border-top: 1px solid var(--verde-oscuro);
}

@media (max-width :370px) {
    #caja{
        margin-top: 0;
        padding-top: 0;
    }
}