:root {
    --verde-oscuro: #394D1F;
    --verde-amarillo-subtitulos: #C4C95A;
    --naranja-decoraciones: #D08159;
    --verde-decoraciones: #9AC76E;
    --negro: #000;
    --blanco: #fff;
    --fuente: 'Poppins', sans-serif;
    --tamaño-titulos: 32px;
    --tamaño-subtitulos: 24px;
    --tamaño-textos: 16px;
}

/* ***ESTILOS DE SOBRE NOSOTROS** */

#Container {
    background-image: url('/Public/images/FondoSection1QuienesSomos.jpg');
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid var(--verde-decoraciones);
    display: flex;
    align-items: center;

}


#containerText {
    opacity: 0.7;
    font-weight: 500;
    padding: 20px;
}

#tittleQuienesSomos {
    font-size: 32px;
    color: var(--verde-oscuro);
    font-weight: bold;
}


/* ***ESTILOS DE CARRUSEL** */

.valores {
    color: var(--verde-oscuro);
    font-size: var(--tamaño-titulos);
    font-weight: bold;
    font-family: var(--fuente);
    margin-bottom: 60px;  
    text-align: center;  
}


section.nostrosValores {
    min-height: 90vh;
    padding: 80px 0 40px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
}


.item-content {
    width: 500px;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 30px;
    border: 1px solid var(--verde-decoraciones);
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    width: auto;
    background: none;
    border: none;
    opacity: 1 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none !important;
}

.carousel-control-prev-icon svg,
.carousel-control-next-icon svg {
    width: 40px;
    height: 40px;
    background-color: #9ac76e59;
    border-radius: 50%;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px #9ac76ee1;
}

.carousel-control-prev-icon:hover svg,
.carousel-control-next-icon:hover svg {
    transform: scale(1.2);
}

@media (max-width: 768px) {

    .carousel-control-prev,
    .carousel-control-next {
        display: none !important;
    }
}


/* ***ESTILOS DE DETRAS DEL CÓDIGO** */

.detrasCodigo{
    color: var(--verde-oscuro);
    font-size: var(--tamaño-titulos);
    font-weight: bold;
    font-family: var(--fuente);
    margin-top: 60px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 6px 12px rgb(161, 161, 161);
}

.iconsGit {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(/Public/images/github-logo-light.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--verde-decoraciones);
    border-radius: 50%;
    box-shadow: 0 6px 10px rgb(165, 165, 165);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

}

.iconsGit:hover {
    transform: scale(1.2);
}

.iconsLinkedin {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(/Public/images/linkedin-logo-light.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--verde-decoraciones);
    border-radius: 50%;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgb(165, 165, 165);
}

.iconsLinkedin:hover {
    transform: scale(1.2);
}

.iconos {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.card.destrasDelCodigo {
    height: 100%;
}


@media (min-width: 1200px) {
    .tarjeta-codigo {
        flex: 0 0 20%;
        max-width: 20%;
    }
}


@media (max-width: 768px) {
    #containerText {
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
        padding: 15px;
    }

    #tittleQuienesSomos {
        font-size: 24px;
    }

    .card.destrasDelCodigo {
        margin: 0 auto;
        max-width: 90%;
    }

    .iconos {
        gap: 15px;
    }
}

/* ***LÍNEA DE SEPARACIÓN** */

.linea {
    height: 1px;
    background-color: var(--verde-oscuro);
    width: 90%;
    margin: 20px auto;
}

#footer{
    border-top: 1px solid var(--verde-oscuro);
}