:root {
    --verde-oscuro: #394D1F;
    --verde-amarillo-subtitulos: #C4C95A;
    --naranja-decoraciones: #D08159;
    --verde-decoraciones: #9AC76E;
    --negro: #000;
    --blanco: #fff;
    --fuente: 'Poppins', sans-serif;
    --tamaño-titulos: 32px;
    --tamaño-subtitulos: 24px;
    --tamaño-textos: 16px;
}


div.modal-content{
    border: 2px solid var(--naranja-decoraciones);
}
