:root {
    --verde-oscuro: #394d1f;
    --verde-amarillo-subtitulos: #C4C95A;
    --naranja-decoraciones: #D08159;
    --verde-decoraciones: #9AC76E;
    --negro: #000;
    --blanco: #fff;
    --fuente: 'Poppins', sans-serif;
    --tamaño-titulos: 32px;
    --tamaño-subtitulos: 24px;
    --tamaño-textos: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.CrearTarjeta {
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
}

.sidebar {
    width: 250px;
    background-color: var(--verde-oscuro);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    border-right: 1px solid #dee2e6;
    color: var(--blanco);
}

.main-content {
    flex-grow: 1;
    margin-left: 250px;
    padding: 20px;
}

.text-center {
    font-weight: bold;
}

.nav-link {
    color: var(--blanco);
    margin-top: 20px;
    transition: 0.3s ease;
}

.nav-link:hover {
    background-color: var(--blanco);
    border-radius: 10px;
    color: #394D1F;
}

#volver {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;

}

#volver img {
    width: 30px;
    height: 30px;
    transition: filter 0.3s ease;
}

#volver img:hover {
    filter: invert(1);
}


.nav-link:focus,
.nav-link:active {
    color: var(--verde-oscuro);
    background-color: white;
    border-radius: 10px;
}

h3, h4, h5 {
    color: var(--verde-oscuro);
}

#bienvenida{
    color: var(--verde-decoraciones);
}

.btn.btn-sm.edit{
    background-color: var(--verde-decoraciones);
    color: var(--blanco);
    font-weight: bold;
    height: 35px;
    width: 60px;
    padding: 5px;
    margin: 20px 0px;
    border-radius: 10px;
}

.btn.btn-sm.delete{
    background-color: var(--naranja-decoraciones);
    color: var(--blanco);
    font-weight: bold;
    height: 35px;
    width: 80px;
    padding: 5px;
    margin: 20px 0px;
    border-radius: 10px;
    margin-right: 30px;
}

.btn-guardar{
    background-color: #78a34d;
    color: var(--blanco);
    font-weight: bold;
    transition: 1 ease;
}

.btn-guardar:hover{
    background-color: #9AC76E;
    color: var(--blanco);
    font-weight: bold;
}
