body {
    font-family: 'Poppins', sans-serif;
}

.titulo-registrar {
    font-weight: bold;
    font-size: 50px;

}

.titulo-registrar2{
    font-size: 28px;
}

.titulo-registrar, .titulo-registrar2 {
    font-weight: bold;

}

.mensaje-registrar, .titulo-registrar, .titulo-registrar2 {
    text-align: center;
}

.titulo-movil {
    position: absolute;
    bottom: 1px; 
    left: 38px;     
    font-size: 28px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.4);
    padding: 8px 15px;
    border-radius: 8px;
}

.contenedor-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
}

.imagen-registrar {
    background-image: url("/assets/img/foto-registro.png");
    background-size: cover;
    background-position: center;
    height: 40vh;
    position: relative;
}

.btn-registrar {
    color: #394D1F;
    font-weight: bold;
    margin-top: 4px;
}

.btn-registrar:hover, .opciones:hover, .opciones:hover .opciones-img{
    background-color: #394D1F;
    color: white;
    fill: white;
}

.btn-registrar, .opciones {
    background-color: #9AC76E;
}

#alerta-container .alert {
    word-break: break-word;
}

input {
    height: 40px;
}

.opciones {
    width: 80px;
    height: 40px;
    border-radius: 40px;
    margin: 10px 20px 20px 20px;
    border: none;
}

.mensaje-footer a{
    color: #394D1F;
}

.form-label {
    margin-top: 9px;
}

@media (min-width: 768px) {
    .imagen-registrar {
        height: 100vh;
    }
}

@media (max-width: 767px) {
    .contenedor-formulario {
        height: auto;            
        justify-content: flex-start; 
        padding: 1.5rem 1rem;     
    }

    .contenedor-formulario form {
        margin-top: 1rem;        
    }
}

#botonBuscar,
#carritoCompra {
    display: none;
}