body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html, body, .container-fluid, .row {
    height: 100%;
}

.titulo-registrar {
    font-weight: bold;
    font-size: 50px;
    margin-top: 250px;
    color: #394D1F;
}

.titulo-registrar2 {
    font-size: 28px;
}

.mensaje-registrar{
    margin-bottom: 20px; 
}

.mensaje-registrar, .titulo-registrar, .titulo-registrar2 {
    text-align: center;
}

.titulo-movil {
    position: absolute;
    bottom: 1px;
    left: 38px;
    font-size: 28px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.4);
    padding: 8px 15px;
    border-radius: 8px;
}

.contenedor-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    height: 100%; /* El formulario ocupa el 100% de la altura de su columna */
    overflow-y: auto; /* Permite scroll solo en el formulario si el contenido es demasiado largo */
}

.imagen-registrar {
    background-image: url("/assets/img/foto-registro.webp");
    background-size: cover;
    background-position: center;
    height: 100%; /* La imagen ocupa el 100% de la altura de su columna */
    position: relative;
}

.btn-registrar {
    color: #394D1F;
    font-weight: bold;
    margin-top: 30px;
}

.btn-registrar:hover, .opciones:hover, .opciones:hover .opciones-img {
    background-color: #394D1F;
    color: white;
    fill: white;
}

.btn-registrar, .opciones {
    background-color: #9AC76E;
}

#alerta-container .alert {
    word-break: break-word;
}

input {
    height: 40px;
}

.opciones {
    width: 80px;
    height: 40px;
    border-radius: 40px;
    margin: 10px 20px 20px 20px;
    border: none;
}

.mensaje-footer a {
    color: #394D1F;
}

.form-label {
    margin-top: 10px;
}

#volver {
    background-color: #9ac76e;
    width: 150px;
    border-radius: 10px;
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#volver:hover {
    background-color: #394D1F;
}

/* --- Media Queries --- */
@media (max-width: 767px) {
    .contenedor-formulario {
        height: auto;
        padding: 1.5rem 1rem;
    }
    .imagen-registrar {
        height: 40vh; /* Altura más pequeña para móviles */
    }
}

@media (min-width: 768px) {
    /* No se necesita un media query adicional para la imagen ya que la altura del 100% ya funciona */
}