:root {
    --verde-oscuro: #394D1F;
    --verde-amarillo-subtitulos: #C4C95A;
    --naranja-decoraciones: #D08159;
    --verde-decoraciones: #9AC76E;
    --negro: #000;
    --blanco: #fff;
    --fuente: 'Poppins', sans-serif;
    --tamaño-titulos: 32px;
    --tamaño-subtitulos: 24px;
    --tamaño-textos: 16px;
}

div.container-fluid {
    padding: 0px 30px;
}

.navbar {
    font-family: var(--fuente);
    border-bottom: 2px solid var(--verde-oscuro);
    padding: 0px 30px;
}

.nav-link {
    color: var(--verde-oscuro) !important;
    font-size: var(--tamaño-textos);
    font-weight: bold !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--verde-decoraciones) !important;
}

.nav-link svg {
    fill: var(--verde-oscuro);
    transition: fill 0.3s ease;
}

.nav-link:hover svg {
    fill: var(--verde-decoraciones);
}

.ms-2 {
    font-size: var(--tamaño-titulos) !important;
    font-weight: bold !important;
    color: var(--verde-oscuro);
}

.navbar {
    font-family: "Poppins", sans-serif !important;
    border-bottom: 3px solid #394d1f;

}

.container-fluid {
    padding: 0px 30px;
}

.navbar-brand,
.nav-link {
    color: #394d1f;
    font-weight: bold;
}

.navbar-brand {
    font-size: 32px;
    gap: 10px;
}

.navbar-brand:hover,
.nav-link:hover {
    color: #9AC76E;
}

.nav-link {
    font-size: 19px;
}

.navbar-nav {
    gap: 20px;
}

.navbar-nav,
.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-icons {
    margin: 0 7px;
    cursor: pointer;
}

.navbar-toggler {
    border: 2px solid var(--verde-oscuro);
    border-radius: 5px;
}


/* ====== RESPONSIVE ====== */
@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        right: -260px;
        height: 100vh;
        width: 260px;
        background-color: var(--verde-oscuro);
        padding-top: 30px;
        transition: right 0.3s ease-in-out;
        box-shadow: -2px 0 8px rgba(0, 0, 0, 0.4);
        z-index: 2000;
    }

    .navbar-collapse.show {
        right: 0;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav .nav-link {
        color: var(--blanco) !important;
        padding: 15px;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .nav-link svg {
        fill: var(--blanco);
        ;
    }

    .nav-link svg:hover {
        fill: var(--verde-amarillo-subtitulos);
        ;
    }

    .navbar-nav .nav-item:last-child .nav-link {
        border-bottom: none;
    }

    .navbar {
        position: static !important;
    }
}


.btn-close-menu {
    position: absolute;
    top: 2px;
    right: 20px;
    background: none;
    border: none;
    font-size: 32px;
    font-weight: bold;
    color: var(--blanco);
    cursor: pointer;
    transition: transform 0.2s ease;
    z-index: 2100;
}

@media (max-width: 992px) {
    .btn-close-menu {
        display: block;
    }
}

@media (min-width: 993px) {
    .btn-close-menu {
        display: none;
    }
}