body {
    font-family: 'Poppins', sans-serif;
}
.CrearTarjeta{
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
}

.btn-guardar{
    background-color: #9AC76E;
}

.btn-Eliminar{
    background-color: #D08159;
}